@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .group:hover:before,
    .group-hover:hover:before {
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 1;
      transform: scaleX(1);
      transition: transform 0.5s, opacity 0.5s;
    }

    .group:hover:before{background: black;}
    .group-hover:hover:before{background: white;}
  
    .group:not(:hover):before,
    .group-hover:not(:hover):before {
      content: '';
      width: 0;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transform: scaleX(0);
      transition: transform 1s, opacity 1s;
    }

    .group:not(:hover):before{background: black;}
    .group-hover:not(:hover):before{background: white;}


      .skills-section{
        @apply shadow-2xl hover:-translate-y-2 transition-all duration-200 bg-black rounded-md flex justify-center ring-black p-4 font-extrabold
               w-full text-white
      }

      
  }